<table>
    <thead>
        <tr>
            <td>
                Product name
            </td>
            <td>
                Product description
            </td>
            <td>
                Product price
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                {{ product.ProductName}}
            </td>
            <td>
                {{ product.ProductDescriptione}}
            </td>
            <td>
                {{ product.ProductPrice}}
            </td>
            <td>
                <a [routerLink]="['/edit', product._id]" class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a (click) = "deleteProduct(product._id)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>